In [1]:
import pandas as pd
import pandas_checks as pdc

import src

FILE_IN="data/interim/gnomad_snrna_variants_tidy.tsv"

In [10]:
df = (
    pd.read_csv(FILE_IN, sep="\t", na_values=".")
    .pipe(
        lambda x: x.assign(
            **pd.DataFrame(
                x["bed_info"].str.split(",").to_list(),
                columns=["ensg", "symbol", "length"],
                index=x.index,
            )
        ).drop(columns=["bed_info"])
    )
    .astype({"length": "int"})
    .check.head()
)

""" We want:
- Gene symbols
- Variant types (i.e. indel vs SNV)
- Unique variants
- snRNA vs Pseudogene
- HWE statistics (autosomes only)
-- Strongest hits
-- Genes with the greatest number of genome-wide significant HWE outliers
"""

<h5 style='text-align: left'><span style='color:None; background-color:None'>First 5 rows</span></h5>

<h5 style='text-align: left'><span style='color:None; background-color:None'>Data types</span></h5>