In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import src

FILE_IN="data/final/gnomad_snrna_variants_hwe_stats.tsv"

In [4]:
df = pd.read_csv(FILE_IN, sep="\t").check.head()

<h5 style='text-align: left'><span style='color:None; background-color:None'>First 5 rows</span></h5>